.btn_small{
    height:24px;
    width:60px;
    line-height:24px;
    margin-left:0.25em;
    padding-right:0.5em;
    padding-left: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
}
.recepie-header{
    margin-top: 0.1em;
}