<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <header>
        <ul id="slide-out" class="sidenav">
            <li><a class="subheader">Browse by diet</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Vegan and Vegeterian') }}">Vegan and Vegeterian</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Gluten Free') }}">Gluten Free</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Low Fat') }}">Low Fat</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Low Carb') }}">Low Carb</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Browse by category</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Healthy') }}">Healthy</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Party') }}">Party</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Family') }}">Family</a></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Budget') }}">Budget</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a href="{{ url_for('add_recepie') }}" class="waves-effect waves-light btn align-enter">Add recepie</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="btn-floating btn-large sidenav-trigger mobilebtn"><i class="material-icons">menu</i></a>


        <ul id="dropdown1" class="dropdown-content">
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Healthy') }}">Healthy</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Party') }}">Party</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Family') }}">Family</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofcat', category_name='Budget') }}">Budget</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Vegan and Vegeterian') }}">Vegan and Vegeterian</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Gluten Free') }}">Gluten Free</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Low Fat') }}">Low Fat</a></li>
            <li class="divider"></li>
            <li><a class="waves-effect" href="{{ url_for('get_recepies_ofdie', diet_name='Low Carb') }}">Low Carb</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper menu">
                <a href="{{ url_for('get_recepies') }}" class="brand-logo icon">COOKBOOK.COM</a>
                <ul class="right hide-on-med-and-down menuul">
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Browse by diets<i class="material-icons right">keyboard_arrow_down</i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Browse by categories<i class="material-icons right">keyboard_arrow_down</i></a></li>
                    <li><a href="{{ url_for('add_recepie') }}" class="waves-effect waves-light btn align-enter">Add recepie</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown();
        });
    </script>
</body>

</html>
