{% extends 'base.html'%} {% block content %}

<h3>Edit recepie</h3>
<div class="row">
    <form action="{{ url_for('insert_recepie')}}" method="POST" class="col s12">
        <div class="row">

            <div class="input-field col s4">
                <input value="{{ recepie.recepie_name }}" name="recepie_name" id="recepie_name" type="text" class="validate" required>
                <label for="recepie_name">Recepie Name</label>
                <span class="helper-text" data-error="Name needed"></span>
            </div>

            <div class="input-field col s3">
                <select id="category" name="category_name">
                <option value="">Category</option>
                {% for cat in categories %}
                    {% if cat.category_name == recepie.category_name %}
                    <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                    {% else %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %} 
                {% endfor %}
            </select>
                <label>Category Select</label>
            </div>

            <div class="input-field col s5">
                <select id="diet" name="diet_name">
                <option value="">Diet</option>
                {% for diet in diets %}
                    {% if diet.diet_name == recepie.diet_name %}
                        <option value="{{diet.diet_name}}" selected>{{diet.diet_name}}</option>
                        {% else %}
                        <option value="{{diet.diet_name}}">{{diet.diet_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
                <label>Diet Select</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <input value="{{ recepie.recepie_img }}" name="recepie_img" id="recepie_img" type="url" class="validate" required>
                <label for="recepie_img">Please paste in a url for an image of this recepie</label>
                <span class="helper-text" data-error="Wrong url"></span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="recepie_ingredients" name="recepie_ingredients" class="materialize-textarea" data-length="100" class="validate" required>{{ recepie.recepie_ingredients }}</textarea>
                <label for="recepie_ingredients">Ingredients</label>
                <span class="helper-text" data-error="Please respect the length"></span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="recepie_ins" name="recepie_ins" class="materialize-textarea" data-length="200" class="validate" required>{{ recepie.recepie_ins }}</textarea>
                <label for="recepie_ins">Instructions</label>
                <span class="helper-text" data-error="Please respect the length"></span></span>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">done</i></button>

    </form>
</div>

{% endblock %}
