{% extends 'base.html'%} {% block content %}

<ul class="collapsible" data-collapsible="accordion">
    {% for recepie in recepies %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">keyboard_arrow_down</i>
                <a class="waves-effect waves-light btn btn_small red">Like</a>
            </div>
            <div class="col s9">
                <strong>{{recepie.recepie_name}} </strong>- {{recepie.category_name}} - {{recepie.diet_name}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{recepie.recepie_ingredients}}
            </span>
            <span>{{recepie.recepie_ins}}
            </span>
            <span>{{recepie.recepie_img}}
            </span>
            <span>{{recepie.recepie_votes}}
            </span>
        </div>
    </li>
    {% endfor %}

</ul>

{% endblock %}
